nav.left_nav_menu{
    position: fixed;
    top:0;
    left: 0;
    bottom:0;
    background-color: #3c3c3c;
    width: 170px;
}


nav.left_nav_menu ul>li>ul.nav{
    display: none;
}
nav.left_nav_menu ul>li a:hover{background-color: #0f0f0f; color:#FFF;}
nav.left_nav_menu ul>li a:focus{background-color: #0f0f0f; color:#FFF;}
nav.left_nav_menu ul>li.active a{font-weight: bold; color:#FFF;}

nav.left_nav_menu ul>li>ul.nav>li>a{
    padding-left: 3em;
}
nav.left_nav_menu ul>li>ul.nav.show{display: block;}

nav.left_nav_menu .profile{padding:1em 0.5em; color:#2b669a; font-size: 18px; border-bottom: 1px solid #0f0f0f;box-shadow: -14px 0 14px #000; margin-bottom: 1em;}
nav.left_nav_menu .profile img{width: 24px;}
nav.left_nav_menu .profile a{
    padding-left:0.2em; text-decoration: none;
    display: inline-block;
    max-width: 122px; overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
}