<div class="query_box" data-template="query_box">
	<h4>升级管理</h4>

	<div class="modal fade" id="upgrade_window" style="    margin-top: 123px;" tabindex="-1" role="dialog">
		<div class="modal-dialog bs-example-modal-sm" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">发布新版本</h4>
					<div class="progress" style="display: none;margin: 0;">
						<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;" id="percent">
							<span></span>
						</div>
					</div>
				</div>

				<div class="modal-body" data-template="alarm_areas_window_body">
					<div class="view_body">
						<form id="add_version_release_form" method="post" class="form-horizontal" enctype="multipart/form-data">
							<div class="form-group">
								<label class="col-sm-3 control-label" accept="application/json" style="margin-top: -8px;">升级定义(.json)</label>
								<div class="col-sm-9">
									<input name="json_file" type="file" data-accept="json" onchange="qd.fileSizeCheck(this)" accept="application/json" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" style="margin-top: -8px;">上传升级包</label>
								<div class="col-sm-9">
									<input name="bin_file" type="file" data-accept="bin,apk,zip" onchange="qd.fileSizeCheck(this)" />
								</div>
							</div>
							<div class="form-group immediately_div">
								<label class="col-sm-3 control-label" style="margin-top: -8px;">立即发布</label>
								<div class="col-sm-9">
									<input type="checkbox" class="immediately">
								</div>
							</div>
							<div class="form-group delay" style="display: none;">
								<label class="col-sm-3 control-label" style="margin-top: -8px;">延时发布</label>
								<div class="col-sm-9">
									<input type="text" style="width: 40%; display: initial;width: 50%;height: 34px;    padding: 0 13px;" class="form-control startTime" />
								</div>
							</div>
						</form>

						<div class="clearfix" style="margin-top:1em; clear:both;text-align: center;">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<a class="submit-version-release-btn btn btn-primary" style="padding:5px 15px;" data-loading-text="正在提交">
								<i class="fa fa-check"> </i>
								<span>提交</span>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="">
		<form class="form-inline pull-left qd_query_params">
			<div class="form-group">
				<select class="form-control" name="release_status">
					<option value="">所有版本</option>
					<option value="releaseing">当前使用版本</option>
					<option value="history">查看历史版本</option>
					<option value="release_wait">等待发布</option>
				</select>
				<input type="text" name="component_type" class="form-control" placeholder="请输入组件类型" />
				<a class="btn btn-primary query_btn">查 询</a>
			</div>
		</form>

		<div class="pull-right">
			<a class="btn btn-default Release" href="javascript:" name="upgrade_btn" data-target="#upgrade_window" data-toggle="modal"><i class="glyphicon glyphicon-send"></i> 发布</a>
		</div>
		<br clear="all">
	</div>

	<br>
	<div class="data_list_div">
		<center></center>
	</div>
</div>