{% extends "base.html" %}

{% block viewport_content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock viewport_content %}

{% block head_js_css %}
<link rel="stylesheet" type="text/css" href="/static/common/css/common.css?_v={{ CONST.base.version }}"/>
<script type="text/javascript" src="/static/common/js/common.js?_v={{ CONST.base.version }}" charset="utf-8"></script>
{% endblock head_js_css %}

{% block base_content %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="" align="center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".top-navbar">
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
                <span class="fa fa-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <b>千丁</b>
            </a>
        </div>
    </div>
</nav>

<div style="width:990px; margin: 0 auto; padding-top:50px;  min-height: 250px;" id="forgetWrap">
    <div class="page-header clearfix">
        <b class="" style="font-size:18px;">忘记密码</b>
    </div>

    <div class="form-horizontal" style="padding:20px 20px 5px 20px;background-color:#f7f8f9;">
        <div style="width:500px; margin: 0 auto">
            <div class="form-group">
                <span class="col-xs-2 control-label text-muted">手机号：</span>
                <div class="col-xs-6">
                    <input class="form-control" type="text" id="phone" maxlength="11">
                </div>
                <button class="btn btn-default" type="text" id="getMa">获取验证码</button>
            </div>
            <div class="form-group">
                <span class="col-xs-2 control-label text-muted">验证码：</span>
                <div class="col-xs-6">
                    <input class="form-control" type="text" id="valid" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <a class="btn btn-info btn-block save-pw-btn" id="submitBtn">
                        <i class="fa fa-check">提交</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-con">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-9">
                    <div class="row">
                        <a class="site-a" href="http://qdingnet.com/index.php?mod=about" target="_blank">
                            <b class="" style="color:white;">关于千丁</b>
                        </a>
                        <span class="text-muted" style="margin:0px 15px;">|</span>
                        <a class="site-a" href="http://qdingnet.com/index.php?mod=contact" target="_blank">
                            <b class="" style="color:white;">联系我们</b>
                        </a>
                        <span class="text-muted" style="margin:0px 15px;">|</span>
                        <a class="site-a" href="javascript:void(0);" target="_blank">
                            <b class="" style="color:white;">新浪微博</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 底部消息框 -->
<div class="notifications" style="width:100%;bottom:0px;" align="center"></div>

<script type="text/javascript">
$(function () {
    $("#getMa").click(function() {
        var phone_val = $("#phone").val();
        var bool = checkPhone(phone_val);
        if (bool) {
            sending();
            $.ajax({
                url: '/common_api/Common_Api/get_verify_code/',
                type: 'POST',
                data: {
                    phone: phone_val
                },
                dataType: 'json',
                success:function(result){
                    if(result.data.flag !== "Y"){
                        UI.showErrTip(result.msg);
                    }
                }
            });
        }
    });
    $("#submitBtn").click(function () {
        var phone_val = $("#phone").val();
        var valid_val = $("#valid").val();
        var bool = checkPhone(phone_val);
        if (bool) {
            if (valid_val === "") {
                UI.showTips('danger', '请填写手机验证码');
                return false;
            } else {
                $.ajax({
                    url: '/user_api/Web_User_Api/forget_password/',
                    type: 'POST',
                    traditional: true,
                    data: {
                        phone: phone_val,
                        verify_code: valid_val
                    },
                    dataType: 'json',
                    context: this,
                    success:function(result){
                        if(result.data.flag === "Y"){
                            UI.showSucTip('已为您重置密码，请注意查收');
                            window.location.href = "/";
                        } else {
                            UI.showErrTip(result.msg);
                        }
                    }
                });
            }
        }
    });
    $("#valid").keyup(function(){
        var valid_val = $("#valid").val();
        if(! /^[0-9]{1,6}$/.test(valid_val)){
            UI.showErrTip('请输入六位数字');
        }
    });
    function checkPhone(val) {
        var reg = /^1\d{10}$/;
        if(val ===""){
            UI.showTips('danger', '请填写手机号码');
            return false;
        }else if(!reg.test(val)) {
            UI.showTips('danger', '请填写正确的手机号码');
            return false;
        }
        return true;
    }
    function sending(){
        var $getMa = $("#getMa");
        $getMa.prop("disabled",true);
        var num = 60;
        var timer = setInterval(function () {
            if(num === 1){
                clearInterval(timer);
                $getMa.prop("disabled",false);
                $getMa.html("获取验证码");
            }else{
                num--;
                $getMa.html("(" + num + ")重新获取");
            }
        },1000);
    }
    $(window).resize(function() {
        $('#forgetWrap').css('min-height',$(window).height()-130);
    });
    $(window).resize();
});

</script>

{% endblock base_content %}

