{% extends "base.html" %}


{% block viewport_content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock viewport_content %}


{% block head_js_css %}
{% endblock head_js_css %}


{% block base_content %}

<link rel="stylesheet" type="text/css" href="/static/common/css/common.css"/>

<style>
.site-avatar {
    width: 200px;
    margin: 0px;
}
</style>

<div class="container-fluid">
    <br>
    <ul class="nav nav-tabs" style="padding:20px 20px 0px 15px;background-color:#f7f8f9;">
        <li class="pull-left" style="padding-top:5px;font-size:18px;">
            <i class="fa fa-bug"></i>
            <b>API调试</b>
        </li>
        <li class="pull-right"><a href="#image" data-toggle="tab">Upload Image</a></li>
        <li class="pull-right active"><a href="#ajax" data-toggle="tab">Ajax Request</a></li>
    </ul>
    <div class="tab-content" style="margin-top:30px;">
        <div id="ajax" class="tab-pane fade active in">
            <div class="form-horizontal">
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">目标地址</span>
                    <div class="col-xs-8">
                        <input name="url" type="text" class="form-control" style="background-color:#f7f8f9;"
                            value="/check_upgrade" placeholder="如：/module/ajax_request_api?param=test" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">请求方式</span>
                    <div class="col-xs-3">
                        <select name="type" class="form-control" style="background-color:#f7f8f9;">
                            <option value="GET">GET</option>
                            <option value="POST" selected>POST</option>
                        </select>
                    </div>
                    <span class="col-xs-2 control-label text-muted">返回类型</span>
                    <div class="col-xs-3">
                        <select name="dataType" class="form-control" style="background-color:#f7f8f9;">
                            <option value="html">html</option>
                            <option value="json">json</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">上传参数</span>
                    <div class="col-xs-8">
                        <textarea name="data" class="form-control" style="background-color:#f7f8f9;resize:vertical;" 
                            rows="3" placeholder="如：{ x: '1', y: 2 }">{ version: '3.2' }</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-8">
                        <a class="btn btn-info btn-block submit-ajax-btn" data-loading-text="提交中，请稍等..." onclick="submit_ajax_request();">
                            <i class="fa fa-check"></i>
                            <span>提交 Ajax 请求</span>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-horizontal">
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">【request】</span>
                    <span class="col-xs-3 form-control-static request-error"></span>
                </div>
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">【response】</span>
                    <div class="col-xs-3 form-control-static response-header site-text-wrap"></div>
                    <span class="col-xs-1 control-label text-muted">【output】</span>
                    <div class="col-xs-4 form-control-static output-text site-text-wrap"></div>
                </div>
            </div>
        </div>
        <div id="image" class="tab-pane fade">
            <form id="upload_image_form" class="form-horizontal">
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">场景</span>
                    <div class="col-xs-3">
                        <select name="scene" class="form-control" style="width:200px;background-color:#f7f8f9;">
                            <option value="">-- 请选择 --</option>
                            <option value="user_avatar">用户头像</option>
                            <option value="sentry_identification">访客机证件</option>
                            <option value="sentry_snapshot">访客机人物快照</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">图片</span>
                    <div class="col-xs-3">
                        <div class="fileinput fileinput-new" style="margin:0px;" data-provides="fileinput">
                            <div class="" style="background-color:white;"> 
                                <div class="fileinput-new" data-trigger="fileinput">
                                    <div class="thumbnail site-avatar">
                                        <img data-src="holder.js/200x200/#000:#fff/text:点击选择" style="width:200px;height:200px;"/>
                                    </div>
                                </div>
                                <div class="fileinput-exists" data-trigger="fileinput">
                                    <div class="fileinput-preview thumbnail site-avatar" style="display:table-cell;"></div>
                                </div>
                                <div class="btn-file clearfix">
                                    <input type="file" name="image">
                                </div>
                            </div>
                        </div>
                        <div class="form-control-static">
                            <span class="text-muted">图片大小不得超过 5M</span>
                            <br>
                            <span class="text-muted">支持 jpg、png、bmp、gif</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-3">
                        <div class="" style="width:200px;">
                            <a class="btn btn-success btn-block upload-image-btn" data-loading-text="上传中，请稍等..." onclick="submit_upload_image();">
                                <i class="fa fa-cloud-upload"></i>
                                <span class="">上传</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <div class="form-horizontal">
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">【request】</span>
                    <span class="col-xs-3 form-control-static request-error"></span>
                </div>
                <div class="form-group">
                    <span class="col-xs-2 control-label text-muted">【response】</span>
                    <span class="col-xs-3 form-control-static response-header"></span>
                    <span class="col-xs-1 control-label text-muted">【output】</span>
                    <div class="col-xs-4 form-control-static output-text site-text-wrap"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/common/js/api.js" charset="utf-8"></script>


{% endblock base_content %}

