<!-- css js libs -->
        <link href="/static/thirdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/thirdparty/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="/static/thirdparty/Font-Awesome-3.2.1/css/font-awesome.css" rel="stylesheet" />

        <script type="text/javascript" src="/static/common/jquery-1.9.1.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/common/jquery.cookie.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/thirdparty/jquery/jquery.form.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/thirdparty/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/thirdparty/bootstrap-notify/js/bootstrap-notify.js"></script>

        <script type="text/javascript" src="/static/thirdparty/backbonejs/underscore.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/thirdparty/backbonejs/backbone.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/thirdparty/ejs.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/thirdparty/datetimepicker/js/bootstrap-datetimepicker.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/thirdparty/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="utf-8"></script>
<!-- end of css js libs -->

