<ul class="yiji sidebar">
    <li>
        <a href="#dashborad/analysis" class="active fa fa-angle-right fa-angle-down">首页</a>
    </li>
    <li>
        <a href="javascript:" class="fa fa-angle-right">
            <i class="fa fa-cog"></i>管理
            <span class="glyphicon glyphicon-volume-up tip" aria-hidden="true"></span>
        </a>
        <ul style="display: none">
            <li class="last">
                <a href="#maintain/card">小区门卡</a>
            </li>
            <li class="last">
                <a href="#project/aptm">管理房屋</a>
            </li>
            <li class="last">
                <a href="#aptm/reviewed" class="reviewed">绑定审批</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:" class="fa fa-angle-right"><i class="fa fa-list"></i>记录</a>
        <ul style="display: none">
            <li class="last">
                <a href="#agw/alarm">报警记录</a>
            </li>
            <li class="last">
                <a href="#talk/calls">通话记录</a>
            </li>
            <li class="last">
                <a href="#talk/locks">开锁记录</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:" class="fa fa-angle-right"><i class="fa fa-cogs"></i>设备</a>
        <ul style="display: none">
            <li class="last">
                <a href="#agw/device">网关设备</a>
            </li>
            <li class="last">
                <a href="#talk/gates">门口机</a>
            </li>
            <li class="last">
                <a href="#talk/aios">管理机</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="javascript:" class="fa fa-angle-right"><i class="fa fa-info-circle"></i>帮助</a>
        <ul style="display: none">
            <li class="last">
                <a href="#/aptm/help">房屋模板</a>
            </li>
        </ul>
    </li>
</ul>